<div class="quota-management-view-element">
 <table class="co-list-table">
     <tr>
         <td>
             Quota Management: {{ $ctrl.organization.name }}
         </td>
         <td>
             <div class="width-50">
                 <div class="row-alignment">

                     <label class="margin-2">Set Organization quota (bytes)</label>

                     <input class="margin-2 form-control width-50" type="number" name="quota-limit" ng-model="$ctrl.currentQuotaConfig['quota']">

                     <button class="margin-2 add-quota-limit btn btn-success hidden-xs" ng-click="$ctrl.addQuotaLimit($event)">
                         <i class="fa fa-plus margin-right-4"></i>
                         Add Quota Limit
                     </button>
                 </div>

                 <div class="row-alignment" ng-model="$ctrl.limitCounter" ng-repeat="x in [].constructor($ctrl.limitCounter) track by $index" id="limit-id-$ctrl.limitCounter">
                     <select class="form-control" name="quotaLimitType" id="quotaLimitType"
                        ng-options="obj as obj.name for obj in $ctrl.quotaLimitTypes track by obj.name"
                        ng-model="$ctrl.currentQuotaConfig['limits'][$index]['limit_type']">
                     </select>

                     <input class="form-control margin-2" type="number" name="limit-percent" min="1" max="100" placeholder="Limit Percent" ng-model="$ctrl.currentQuotaConfig['limits'][$index]['percent_of_limit']"/>

                     <span class="margin-2" ng-hide="$ctrl.limitCounter < 1">
                        <button class="margin-2 btn btn-danger" ng-click="$ctrl.removeQuotaLimit($index)" ng-model="$index">
                            <i class="fa fa-trash"></i>
                            Remove
                        </button>
                     </span>
                     cur: {{ $ctrl.currentQuotaConfig['limits'] }}
                     prev: {{ $ctrl.prevQuotaConfig['limits'] }}

                 </div>
                 <button class="margin-2 btn btn-primary save-quota-details" ng-disabled="$ctrl.disableSave()" ng-click="$ctrl.updateQuotaDetails()">Save Quota Details</button>
             </div>

         </td>
     </tr>
 </table>
</div>
