<div class="quota-management-view-element">
 <table class="co-list-table">
     <tr>
         <td>
             Quota Management:
         </td>
         <td>
             <input type="checkbox" ng-model="$ctrl.quotaEnabled">
             <div>
                 <div>
                     <label>Set Organization quota (bytes)</label>
                     <input type="number" name="quota-limit" ng-model="$ctrl.newQuota">
                 </div>
                 <a class="btn btn-primary save-quota-details" ng-disabled="$ctrl.disablesave()" ng-click="$ctrl.updateQuotaDetails()">Save Quota Details</a>
             </div>
         </td>
     </tr>
 </table>
</div>
